p{
overflow-wrap: break-word;
}

.inline-article-element{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.article-container {
  padding-bottom: 2.0em;
}

.author-line{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.navbar{
    border-radius: 0px !important;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.fullscreen {
   height: 100%;
   max-width: 100%;
   overflow-x: hidden;
}
